<style>
	*{
		padding: 0;
		margin: 0;
	}
	h1,h2,h3,h4,h5,h6,h7,h8,h9{
		font-size: 30px;
	}
	
	.information{
		font-size: 25px;
	}
	.footer{
	text-align:center;margin:40px 0; 
	font:normal 14px/24px;
	color:#DA70D6;

	}
	</style>